.container {
  width: 100vw;
  height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2em;
}

.url-input {
  width: 30%;
  line-height: 3em;
  margin: 2em;
}

.img-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
